/init.el~
/auto-save-list/.saves-6197-f7se~
/auto-save-list/.saves-16140-f7se~
/evil-setup.el~
/ac-comphist.dat
/elpa/helm-20130317.247/helm-adaptative.elc
/elpa/helm-20130317.247/helm-aliases.elc
/elpa/helm-20130317.247/helm-apt.elc
/#init.el#
/auto-save-list/.saves-10021-f7se~
/auto-save-list/.saves-17390-f7se~
/auto-save-list/.saves-30896-f7se~
/auto-save-list/.saves-12038-f7se~
/auto-save-list/.saves-14229-f7se~
/elpa/*
/elpa/
/url/*
/url/cache/martin/http/no/met/api/237426006c6882b4591efbaaf5e75abd
/url/cache/martin/http/no/met/api/5667aef4561ebf39f6280d86d9801d80
/url/cache/martin/http/no/met/api/b418dbb621549645ad1a5a30ea186352
/url/cache/martin/http/no/met/api/cf332de6ae2f9b0ae3bada3c4d6893fe
/elpa/ujelly-theme-1.0.12/ujelly-theme-autoloads.el
/elpa/ujelly-theme-1.0.12/ujelly-theme-autoloads.el~
/elpa/ujelly-theme-1.0.12/ujelly-theme-pkg.el
/elpa/ujelly-theme-1.0.12/ujelly-theme-pkg.elc
/elpa/ujelly-theme-1.0.12/ujelly-theme.el
/elpa/ujelly-theme-1.0.12/ujelly-theme.elc
/url/cache/martin/http/de/zeit/images/54e8c259c90a9bcddc0df35d9bfaddc4
/auto-save-list/.saves-22145-f7se~
/url/cache/martin/http/de/zeit/images/564bc0ae2ad4c9a22b8f03354ee2aa13
/url/cache/martin/http/de/zeit/images/56e29479c3c15bcd256a664815795dc8
/url/cache/martin/http/de/zeit/images/5f3cfaefded03a2a74b69cb680925ff2
/url/cache/martin/http/de/zeit/images/5ff67132ff50f20354ff2cd47904202d
/auto-save-list/.saves-9565-f7se~
/eshell/lastdir
/auto-save-list/.saves-7325-f7se~
/auto-save-list/.saves-31530-f7se~
